::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: grid;
  justify-content: center;
}

#main {
  margin: 0;
  height: 100vh;
  width: 100vw;
  max-width: 540px;
  box-shadow: inset 0 0 10px 4px #1116;
}

#msg_send {
  outline: none;
  font-size: 20px;
  padding: 0 16px;
  border-radius: 32px 0 32px 32px;
  background: #ececee;
  color: #333;
  border: solid 1px #777;
  border-right: none;
}

.input {
  height: 7%;
  background: linear-gradient(#ececee 50%, #1c1f46 50%);
  display: grid;
  grid-template-columns: 70% 30%;
  border-radius: 32px;
  margin: 8px 16px;
  min-height: 42px;
  box-shadow: inset 0 1px 0 #777;
}
.send {
  outline: none;
  font-size: 20px;
  border: none;
  background: #1c1f46;
  border-radius: 32px;
  color: #eee;
  transition-duration: 0.2s;
}
.send:active {
  font-size: 16px;
}

.left,
.right {
  font-size: 18px;
  display: inline-block;
  padding: 14px;
  width: auto;
  max-width: 60%;
  margin: 8px 16px;
  font-family: monospace;
  word-wrap: break-word;
}

.left {
  color: #000;
  background: #b3bfca;
  border-radius: 0 16px 16px 16px;
}

.right {
  float: right;
  color: #fff;
  background: #1c1f46;
  border-radius: 16px 16px 0 16px;
}

#msg {
  overflow-y: scroll;
  height: 82%;
  padding: 0 12px;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
  background: #1c1f46;
  padding: 8px;
  font-family: sans-serif;
  color: #fff;
  text-shadow: 1px 1px 4px #111;
  box-shadow: 0 4px 8px #000a;
  margin-bottom: 8px;
}

.bot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url(bot.jpg);
  background-size: 100%;
  margin: 10px;
}
h3 {
  font-family: monospace;
  font-size: 20px;
}
#robot {
  display: flex;
  align-items: center;
}

.msgCon1,
.msgCon2 {
  width: 100%;
  display: inline-block;
}
